{% extends "base.html" %}

{% block content %}
<header>
    <h1>About Me</h1>
</header>

<section class="about">
    <p>Hi, welcome to my <span class="text-little">(very horribly written)</span> website!<br>I am a:</p>
    <p><a class="am-link" href="https://en.wikipedia.org/wiki/Script_kiddie">skid</a>,<br><a class="am-link" href="https://github.com/fily-gif">procrastinator</a>,<br><a class="am-link" href="https://www.speedrun.com/users/fily">speedrunner</a>,<br><a class="am-link" href="https://ch.tetr.io/u/fily">TETR.IO player.</a><br><span class="text-little">(somebody save me i hate this code)</span></p>
</section>
{% endblock %}
