{% extends "base.html" %}

{% block content %}
<header>
    <h1>fily@home:~$ cat stats</h1>
</header>

<section class="stats">
    <div class="stat-box">
        <pre>
Posts......: {{ stats.posts }}
Uptime.....: <span id="uptime"></span>
        </pre>
    </div>
    <div class="stat-box">
        <h3>contacts</h3>
        <pre>
<img class="icon-bsky" src="{{ url_for('static', filename='img/bluesky-solid.svg') }}"><a href="https://bsky.app/profile/fily-is.plonk.ing">bluesky</a>
<img class="icon" src="{{ url_for('static', filename='img/speedruncom.png') }}"><a href="https://www.speedrun.com/users/fily">speedrun.com</a>
<img class="icon" src="{{ url_for('static', filename='img/tetrio-color.svg') }}"><a href="https://ch.tetr.io/u/fily">tetr.io</a>
<img class="icon" src="{{ url_for('static', filename='img/GitHub_Invertocat_Light.svg') }}"><a href="https://github.com/fily-gif">github</a>
        </pre>
    </div>

    <div class="stat-box">
        <h3>discord_status</h3>
        <a href="https://discord.com/users/831530536781873163">
            <iframe src="https://lanyard.cnrad.dev/api/831530536781873163?borderRadius=0px&idleMessage=probably%20sleeping%20or%20something&bg=00000000" frameBorder="0"></iframe>
        </a>
        <pre>
source: <a href="https://github.com/phineas/lanyard">lanyard</a> + <a href="https://github.com/cnrad/lanyard-profile-readme">lanyard-profile-readme</a>
        </pre>
    </div>
</section>

<script>
function formatUptime(bootTime) {
    const now = Math.floor(Date.now() / 1000);
    const uptime = now - bootTime;
    const days = Math.floor(uptime / 86400);
    const hours = Math.floor((uptime % 86400) / 3600);
    const minutes = Math.floor((uptime % 3600) / 60);
    const seconds = Math.floor(uptime % 60);
    if (days === 0) {
        return `${hours}h ${minutes}m ${seconds}s`;
    }
    return `${days}d ${hours}h ${minutes}m ${seconds}s`;
}

function updateUptime() { 
    const bootTime = {{ stats.uptime }};
    document.getElementById('uptime').textContent = formatUptime(bootTime);
}

updateUptime();
setInterval(updateUptime, 1000);
</script>
{% endblock %}
