{% extends "base.html" %}

{% block content %}
<header>
    <h1>Welcome to My Corner</h1>
</header>

<section class="intro">
    <p class="personal-space">WARNING: THIS IS A PERSONAL SPACE. YOU HAVE BEEN WARNED.</p>
</section>

<section class="stats">
    <div class="stat-box">
        <h3>Posts Written</h3>
        <p class="stat-number">{{ stats.posts }}</p>
    </div>
    <div class="stat-box">
        <h3>Links:</h3>
        <img class="icon-bsky" src="{{ url_for('static', filename='img/bluesky-solid.svg') }}"><a href="https://bsky.app/profile/fily-is.plonk.ing" target="_blank">Bluesky</a></img><br>
        <img class="icon" src="{{ url_for('static', filename='img/speedruncom.png') }}"><a href="https://www.speedrun.com/users/fily" target="_blank">Speedrun.com</a></img><br>
        <img class="icon" src="{{ url_for('static', filename='img/tetrio-color.svg') }}"><a href="https://ch.tetr.io/u/fily" target="_blank">TETR.IO</a></img><br>
        <img class="icon" src="{{ url_for('static', filename='img/GitHub_Invertocat_Light.svg') }}"><a href="https://github.com/fily-gif" target="_blank">GitHub</a></img>
    </div>
    <div class="stat-box">
        <h3>Server Uptime</h3>
        <p class="stat-number" id="uptime"></p>
    </div>
</section>

<script>
function formatUptime(bootTime) {
    const now = Math.floor(Date.now() / 1000);
    const uptime = now - bootTime;
    const days = Math.floor(uptime / 86400);
    const hours = Math.floor((uptime % 86400) / 3600);
    const minutes = Math.floor((uptime % 3600) / 60);
    const seconds = Math.floor(uptime % 60);
    if (days === 0) {
        return `${hours}h ${minutes}m ${seconds}s`;
    }
    return `${days}d ${hours}h ${minutes}m ${seconds}s`;
}

// eslint-disable-next-line no-unused-vars
function updateUptime() { 
    // eslint-disable-next-line no-undef
    const bootTime = {{ stats.uptime }};
    // eslint-disable-next-line no-undef
    document.getElementById('uptime').textContent = formatUptime(bootTime);
}

updateUptime();
setInterval(updateUptime, 1000);
</script>
{% endblock %}
